{% load static %}

<div id="myModal" class="modal createPost">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="group_creation post-text">
            <div class="group_creation_title mini-headign">
                <h1>Create a group</h1>
                    {% if group_form %}

            </div>
            <form id ="group_creation_page" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in group_form %}
                    {% if field.name == 'description' %}
                        <textarea class="your-css-class" name="{{ field.name }}" id="{{ field.auto_id }}" placeholder="{{ field.label }}"></textarea>
                    {% elif field.name == 'group_name' %}
                        <input type="text" class="your-css-class" name="{{ field.name }}" id="{{ field.auto_id }}" placeholder="{{ field.label }}">
                    {% elif field.name == 'target' %}
                        <select name="{{ field.name }}" id="{{ field.auto_id }}">
                            <option value="public">Public</option>
                            <option value="private">Private</option>
                        </select>
                    {% elif field.name == 'profile_banner' %}
                        <h3>Profile Banner</h3>
                        <input type="file" class="your-css-class" name="{{ field.name }}" id="{{ field.auto_id }}" onchange="displayFile2(this)" style="display: none;">
                        <div class="post-buttons">
                            <button type="button" class="upload-file-bt" onclick="document.getElementById('{{ field.auto_id }}').click()">Add file
                                <i class="fa-solid fa-file-import"></i>
                            </button>
                    {% endif %}
                {% endfor %}
                <button type="submit">Create</button>
            </div>    
            </form>
        </div>
        <div id="Img_display"></div>
        {% endif %}
    </div>
</div>

<div class="create-page">
    <ul>
        <li class ="group_buttons">
            <i class="fa-solid fa-circle-plus"></i>
            <h4>Create Groups</h4>
        </li>
        <li>
            <img src="{{ random_group.profile_banner.url }}" alt="groups">
        </li>
        <li>
            <b>{{ random_group.group_name }} <span>{{ random_group.member_count }} Members</span></b>
            <button id="check_group_bt"><a href="{% url 'group_posts' group_name=random_group.group_name %}">Check group</a></button>
        </li>
    </ul>
</div>
