{% load static %}

<div class="event">
    <h3 class="heading">Upcoming Events</h3>
    <img src="{{ latest_event.backgroundimage.url }}" alt="event-img">
    <div class="event-date">
        <h3>{{ latest_event.event_time.day }} <b>{{ latest_event.event_time|date:"F" }}</b></h3>
        <a href="{% url 'view_event' id=latest_event.id %}">
        <h4>{{ latest_event.head_title }}
            <span>in person event</span></h4></a>
    </div>
    <button class="see-more-btn" onclick='location.href="{% url 'all_events' %}"'>See more<i class="fa-regular fa-calendar"></i></button>
</div>

{% comment %} <hr> {% endcomment %}

{% comment %} {% if not visiteur %}

<div class="friend">
    <h3 class="heading">Friend Requests <span>see all</span></h3>
    <ul>
        <li><img src="{%static 'Assets/Images/user4.jpg' %}" alt="user"></li>
        <li>
            <b>armanul islam</b>
            <p>Lorem ipsum dolor sit amet.</p>
            <button>confirm</button><button class="friend-remove">remove</button>
        </li>
    </ul>
</div>
{% endif %} {% endcomment %}
