{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static 'Assets/Images/favicon.ico" type="image/x-icon">
    <title>Django socialmedia about</title>
    <!-- style css link -->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">    
    <link rel="stylesheet" href="{% static 'CSS/group-page/group-header.css' %}">    
    <!-- font link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
        
    <!-- header section start -->
        <header>
            {% include "HTML/home/header-homepage.html"%}
        </header>
    <!-- header section end -->

    <!-- home section start -->
    <div class="home">
        <div class="modal" id="home_settings">
            <div class="modal-content" style="width: 42%;">
                <span class="close">&times;</span>
                <div class="searchBox" style ="width: 80%;">
                    <input type="text" id="search-input" placeholder="Search for people">
                    <i class="fas fa-search"></i>
                </div>
                <div id="search-results"></div>
            </div>
        </div>
        <div class="container">
            <div class="home-weapper">

                <!-- home center start here -->
                <div class="home-center">
                    {% include "HTML/home/group-header.html" %}
                    {% include "HTML/home/group-description.html" %}
                </div> 
                <!-- home center end -->

                <!-- home right start here -->
                <div class="home-right">
                    <div class="home-right-wrapper">

                        <!-- messenger start -->
                        <div class="messenger">
                            {% include "HTML/home/messages.html" %}
                        </div>
                        <!-- messenger end -->

                        <!-- event and friend start -->
                        <div class="event-friend">
                            {% include "HTML/home/event-template.html" %}
                        </div>
                        <!-- event and friend end -->

                        {% comment %} <!-- groups start -->
                        <div class="groups">
                            {% include "HTML/home/create-page.html" %}
                        </div>
                        <!-- groups end --> {% endcomment %}

                    </div>
                </div>
                <!-- home right end -->

            </div>
        </div>
    </div>
    <!-- home section end -->

    <!--Scripts link-->
    <script src="{% static "Javascript/homepage.js"%}"></script>
    <script src="{% static "Javascript/group/group.js"%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>    
    <script src="{% static 'Javascript/ajaxcall.js' %}" ></script>
</body>
</html>