{% load static %}

<div class="group-header">
    <div class="group-picture">
        {% if group.profile_banner.url %}
            <img src="{{ group.profile_banner.url }}" alt="{{ group.name }}" style="width: -moz-available;border-radius: 10px 10px 0px 0px; object-fit: cover;height: 250px;">
        {% else %}
            <img src="{% static 'Assets/Images/cover.jpg' %}" alt="{{ group.name }}" style="width: -moz-available;border-radius: 10px 10px 0px 0px; object-fit: cover;height: 250px;">
        {% endif %}
    </div>
    <div class="group-info">
        <div class="group-name">
            <h1>{{ group.group_name }}</h1>
        </div>
        <div class="group-description">
            <p>{{ group.description }}</p>
        </div>
    </div>
    <div class ="join-group-btn">
        <button href="" class="btn btn-primary">Join Group</button>
    </div>
    <div class="group-buttons">
        <div class ="group-discussion">
            <a href="{% url 'group_posts' group_name=group.group_name %}" class="btn btn-secondary">Discussions</a>
        </div>
        <div class ="group-events">
            <a href="{% url 'group_events' group_name=group.group_name %}" class="btn btn-secondary">Events</a>
        </div>
        <div class ="group-about">
            <a href="{% url 'group_about' group_name=group.group_name %}" class="btn btn-secondary">About</a>
        </div>
    </div>
</div>

{% comment %} <div class="group-header">
    <div class="group-picture">
        <img src="{{ $group->picture }}" alt="{{ $group->name }}">
    </div>
    <div class="group-info">
        <h1>{{ $group->name }}</h1>
        <p>{{ $group->description }}</p>
    </div>
    <div class ="group-join">
        <a href="{{ route('group.join', $group->id) }}" class="btn btn-primary">Join Group</a>
    </div>
    <div class="group-buttons">
        <a href="{{ route('group.discussion', $group->id) }}" class="btn btn-secondary">Discussions</a>
        <a href="{{ route('group.events', $group->id) }}" class="btn btn-secondary">Events</a>
        <a href="{{ route('group.about', $group->id) }}" class="btn btn-secondary">About</a>
    </div>
</div>
 {% endcomment %}