{% load static %}

<div class="group-header">
    <div class="group-picture">
        {% if group.profile_banner.url %}
            <img src="{{ group.profile_banner.url }}" alt="{{ group.name }}" style="width: -moz-available;border-radius: 10px 10px 0px 0px; object-fit: cover;height: 250px;">
        {% else %}
            <img src="{% static 'Assets/Images/cover.jpg' %}" alt="{{ group.name }}" style="width: -moz-available;border-radius: 10px 10px 0px 0px; object-fit: cover;height: 250px;">
        {% endif %}
    </div>
    <div class="group-info">
        <div class="group-name">
            <h1>{{ group.group_name }}</h1>
        </div>
        {% comment %} <div class="group-description">
            <p>{{ group.description }}</p>
        </div> {% endcomment %}
    </div>
    <div class ="join-group-btn">
        {% if not visiteur %}
        {% if is_member %}
            {% if is_admin %}
                <button id="invite_button" action="" class="btn btn-primary" style ="margin-right: 1%;">Invite people</button>
                <button id="settings_bt" href="{% url 'group_settings' group_name=group.group_name %}" class="btn btn-primary"><i class="fa-solid fa-sliders"></i></button>
            {% else %}
                <button href="" class="btn btn-primary leave-group" data-group-name="{{ group.group_name }}">Leave Group</button>            
            {% endif %}
        {% else %}
            {% if target == "public" %}
                <button href="" class="btn btn-primary join-group" data-group-name="{{ group.group_name }}">Join Group</button>
            {% endif %}
        {% endif %}
        {% endif %}
    </div>
    <div class="group-buttons">
        <div class ="group-discussion">
            <a href="{% url 'group_posts' group_name=group.group_name %}" class="btn btn-secondary">Discussions</a>
        </div>
        <div class ="group-events">
            <a href="{% url 'group_events' group_name=group.group_name %}" class="btn btn-secondary">Events</a>
        </div>
        <div class ="group-about">
            <a href="{% url 'group_about' group_name=group.group_name %}" class="btn btn-secondary">About</a>
        </div>
    </div>
</div>
