{% load static %}

<div class="header-container">
    <div class="header-wrapper">
        <div class="logoBox">
            <div class="website-name" data-url="{% url 'home' %}">
                <h2><em>Campus</em> <span>Media </span></h2>
            </div>
        </div>
        <div class="searchBox">
            <input type="search">
            <i class="fas fa-search"></i>
            
        </div>
        
        {% if not visiteur %}
        <div class="iconBox1">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-user-group"></i>
        </div>
        <div class="iconBox2">
            <i class="fa-solid fa-circle-plus" id="circleButton"></i>
            <i class="fa-solid fa-bell"></i>

            <div class="dropdown" id="circleMenu">
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class = "group_buttons"><i class="fa-solid fa-users-line"> Create Group </i></li>
                    <li class = "event_buttons"><i class="fa-regular fa-calendar-days"> Create Event</i></li>
                </ul>
            </div>
        </div>      
        {% endif %}
        <div class="iconBox3-container">
            {% if not visiteur %}
            <div class="iconBox3" id="iconBox3Button">
                <label><img src="/media/{{user_pdp}}" alt="user"></label>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            {% else %}
            <div class="login-box">
                <a href="/login/" class="login">Login</a>
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </div>
            {% endif %}
        </div>
    </div>
    {% if not visiteur %}
    <div class="dropdown" id="profileMenu">
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/classroom/home"><i class="fa-solid fa-book-open"> Classroom</i></a></li>
            <li><a class="dropdown-item" href="/mes-groups"><i class="fa-solid fa-users-rectangle"> My Groups</i></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/settings"><i class="fa-solid fa-gear"> Settings</i></a></li>
            <li><a type="submit" class="dropdown-item" href="/logout/"><i class="fa-solid fa-arrow-right-from-bracket"> Logout</i></a></li>
        </ul>
    </div>
    {% endif %}
</div>

