{% load static %}
{% load user_tags %}

{% for post in posts %}
<div class="fb-post1">
    <div class="fb-post1-container">
        <div class="fb-post1-header">
            <ul>
                <li class="active">popular</li>
                <li>recent</li>
                <li>most view</li>
            </ul>
        </div>
        <div class="fb-p1-main">
            <div class="post-title">
                {% with post.user_id as user_id %}
                {% get_user post.user_id as user %}
                <img src="{{ user.profile_picture.url }}" alt="user picture">
                <ul>
                    <li><h3>{{ user.username }} <span> . {{ post.created_at|timesince }} ago</span></h3></li>
                    <li><span>{{ post.created_at|date:"F j, Y, P" }}</span></li>
                </ul>
                {% endwith %}
                <p>{{ post.contenue }}</p>
            </div>

            <div class="post-images">
                <div class="post-images1">
                    {% for image in post.images.all %}
                    <img src="{{ image.file.url }}" alt="post image">
                    {% endfor %}
                </div>
            </div>

            <div class="like-comment">
                <ul>
                    <li>
                        <img src="{% static 'Assets/Images/love.png' %}" alt="love">
                        <img src="{% static 'Assets/Images/like.png' %}" alt="like">
                        <span>{{ post.likes.count }} likes</span>
                    </li>
                    <li><i class="fa-regular fa-comment-dots"></i> <span>{{ post.comments.count }} comments</span></li>
                    {% comment %} <li><i class="fa-solid fa-share-from-square"></i> <span>254 share</span></li> {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}