{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static 'Assets/Images/favicon.ico' %}" type="image/x-icon">
    <title>Django socialmedia</title>
    <!-- style css link -->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">    
    <!-- font link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .text-limit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

    </style>
</head>
<body>
        
    <!-- header section start -->
        <header>
            {% include "HTML/home/header-homepage.html"%}
        </header>
    <!-- header section end -->

    <!-- home section start -->
    <div class="home">
        <div class="container">
            <div class="home-weapper">

                <!-- home left start here -->
                <div class="home-left">
                {% include "HTML/home/left-wing.html" %}
                </div>
                <!-- home left end here -->

                <!-- home center start here -->
                <div class="home-center">
                    <div class="home-center-wrapper">
                        
                {% if not isEventsPage %}

                        {% if not visiteur %}
                        <!-- Creat your Post -->
                        {% include "HTML/home/home-extended.html" %}
                        {% endif %}

                        <!-- POSTS -->

                        {% include "HTML/home/home-posts.html" %}

                {% endif %}

                {% if isEventsPage %}
                <div style="width: 100%;">
                    
                    <div class="header-container" style="height: auto; background-color: rgb(252, 252, 252);">
                        <h3 class="mini-headign">All Events</h3>
                        <!--  -->
                        {% for event in all_events %}
                                                <div class="" style="padding-top: 15px;margin: 10px;display: flex;height: auto;">
                                                    <!--  -->
                                                    <div class="post-images" >
                                                        <img src="/media/{{event.backgroundimage}}" style="height: 80px;width: 150px;">
                                                    </div>
                                                    <!--  -->
                                                <div style="margin-left: 30px;width: 62%">
                                                    <a href=""><h4 class="mini-headign">{{event.head_title}}</h4></a>
                                                    <!--  -->
                                                    <p class="text-limit" style ="color: var(--black);">{{event.description}}</p>
                                                    <!--  -->
                                                </div>   
                                                    <div style="width:20%;display: flex;justify-content: center;align-items: center;">
                                                        <a style="height: auto;padding: 8px;background-color: rgb(239, 239, 239);color: rgb(44, 44, 44);" href="{% url 'view_event' id=event.id %}">See Details</a>
                                                        {% if user.id is event.utilisateur.user.id %}
                                                        <a style="height: auto;margin: 5px;padding: 8px;background-color: rgb(221, 24, 24);color: rgb(231, 229, 229);" href="{% url 'deleteEvent' id=event.id %}">Delete</a>
                                                {% endif %}
                                                    </div>
                                                </div>
                        {% endfor %}
                        <!--  -->
                    </div>
                </div>
                {% endif %}
                    
                    </div> <!-- home center wrapper end -->

                </div> 
                <!-- home center end -->

                {% if not isEventsPage %}
                <!-- home right start here -->
                <div class="home-right">
                    <div class="home-right-wrapper">

                        {% if not visiteur %}
                        <!-- messenger start -->
                        <div class="messenger">
                            {% include "HTML/home/messages.html" %}
                        </div>
                        <!-- messenger end -->
                        {% endif %}

                        <!-- event and friend start -->
                        <div class="event-friend">
                            {% include "HTML/home/event-template.html" %}
                        </div>
                        <!-- event and friend end -->

                        {% if not visiteur %}
                        <!-- groups start -->
                        <div class="groups">
                            {% include "HTML/home/create-page.html" %}
                        </div>
                        <!-- groups end -->
                        <div class="Events">
                            {% include "HTML/Events/create_event.html" %}
                            </div>
    
                        {% endif %}

                    </div>
                </div>
                <!-- home right end -->
                {% endif %}
            </div>
        </div>
    </div>
    <!-- home section end -->

    <!--Scripts link-->
    <script src="{% static 'Javascript/homepage.js' %}" ></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="{% static 'Javascript/ajaxcall.js' %}" ></script>

</body>
</html>