{% load static %}



<div class="createPost">
    <h3 class="mini-headign">Create Post</h3>
    {% if post_form %}
        <div class="post-text">
            <img src="{{user.utilisateur.profile_picture.url}}" alt="user">
            <form method="post" enctype="multipart/form-data" {% if group %} action="{% url 'group_posts' group_name=group.group_name %}" {% endif %}>                
                {% csrf_token %}
                {% for field in post_form %}
                    {% if field.name == 'contenue' %}
                        <input type="text" class="your-css-class" name="{{ field.name }}" id="{{ field.auto_id }}" placeholder="What's up today ! Share it !">
                    {% elif field.field.widget.input_type == 'file' %}
                        <input type="file" class="your-css-class" name="{{ field.name }}" id="{{ field.auto_id }}" onchange="displayFile(this)" style="display: none;">
                        <div class="post-buttons">
                            <button type="button" class="upload-file-bt" onclick="document.getElementById('{{ field.auto_id }}').click()">Add file
                                <i class="fa-solid fa-file-import"></i>
                            </button>
                    {% endif %}
                {% endfor %}
                            <button type="submit">Post</button>
                        </div>
            </form>
        </div>
        <div id="file-display"></div>
    {% endif %}

    {% comment %} <div class="post-icon">

        <a href="#" style="background: #d7ffef;">
        <i style="background: #00d181;" class="fa-solid fa-location-dot"></i>
        Location</a>
        
        <a href="#" style="background: #fff4d1;">
        <i style="background: #ffca28;" class="fa-solid fa-face-grin-beam"></i>
        Feeling / Activity</a>

    </div> {% endcomment %}

</div>