{% load static %}
{% load user_tags %}
{% load like_helpers %}

<div class="fb-post1-header">
    <ul>
        <li class="active">popular</li>
        <li>recent</li>
        <li>most view</li>
    </ul>
</div>
{% for post in posts %}
<div class="fb-post1">
    <div class="fb-post1-container">
        <div class="fb-p1-main">
            <div class ="delete_post">
                <form method="POST" action="{% url 'delete_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit"><i class="fa-solid fa-trash"></i></button>
                </form>
            </div>
            <div class="post-title">
                {% with post.user_id as user_id %}
                {% get_user post.user_id as user %}
                <img src="{{ post.user.utilisateur.profile_picture.url }}" alt="user picture">
                <ul>
                    <li><h3>{{ user.username }} <span> . {{ post.created_at|timesince }} ago</span></h3></li>
                    <li><span>{{ post.created_at|date:"F j, Y, P" }}</span></li>
                </ul>
                {% endwith %}
                <p>{{ post.contenue }}</p>
            </div>
            <div class="post-images">
                <img src="/media/{{ post.file }}" alt="">
            </div>
            <div class="like-comment">
                <ul>
                    <li>
                        {% if not visiteur %}
                        <div class="like-button" data-post-id="{{ post.id }}">
                            <div class="heart-bg">
                                {% has_liked user post as liked %}
                                {% if liked %}
                                <div class="heart-icon liked"></div>
                                {% else %}
                                <div class="heart-icon"></div>
                                {% endif %}
                            </div>
                            <div class="likes-amount">{{ post.count_likes }}</div>                        
                        </div>
                        {% else %}
                        <div class="like-button" onclick="toggleLike(this)">
                            <div class="heart-bg">
                                <div class="heart-icon liked"></div>
                            </div>
                            <div class="likes-amount">{{ post.count_likes }}</div>
                        </div>
                        {% endif %}
                        {% comment %} <img src="{% static 'Assets/Images/love.png' %}" alt="love">
                        <img src="{% static 'Assets/Images/like.png' %}" alt="like">
                        <span>{{ post.likes.count }} likes</span> {% endcomment %}
                    </li>
                    <li><i class="fa-regular fa-comment-dots"></i> <span>{{ post.comments.count }} comments</span></li>
                    <li><i class="fa-solid fa-share-from-square"></i> <span>254 share</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}