{% load static %}



<div class="createPost">
                    
    <h3 class="mini-headign">Create Post</h3>
    {% if form %}
        <div class="post-text">
            <img src="/media/{{user_pdp}}" alt="user">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% comment %} {{ form.contenue }} {% endcomment %}
                {{ form }}
                <button type="submit">Post</button>
            </form>
        </div>
    {% endif %}

    <div class="post-icon">

        <a href="#" style="background: #d7ffef;">
        <i style="background: #00d181;" class="fa-solid fa-location-dot"></i>
        Location</a>
        
        <a href="#" style="background: #fff4d1;">
        <i style="background: #ffca28;" class="fa-solid fa-face-grin-beam"></i>
        Feeling / Acrivity</a>

    </div>

</div>