{% load static %}
{% load user_tags %}
{% load like_helpers %}

<div class="fb-post1-header">
    {% comment %} <ul>
        <li class="active">popular</li>
        <li>recent</li>
        <li>most view</li>
    </ul> {% endcomment %}
</div>
{% for post in posts %}
<!-- Backdrop -->
<div id="backdrop{{ post.id }}" class="comment-backdrop" style="display: none;" onclick="toggleCommentForm({{ post.id }})"></div>

<!-- Popup -->
<div id="popup{{ post.id }}" class="comment-popup" style="display: none;">
    <!-- Section -->
    <div id="section{{ post.id }}" class="comment-section">
        <!-- List -->
        <ul id="list{{ post.id }}" class="comment-list">
            <!-- Items will be inserted here -->
        </ul>
    </div>
    <!-- Form Container -->
    <div id="formContainer{{ post.id }}">
        <form class="comment-form" data-post-id="{{ post.id }}">
            <input type="text" name="text">
            <button type="submit"><i class="fa-sharp fa-solid fa-paper-plane">Comment</i></button>
        </form>
    </div>
</div>
<div class="fb-post1">
    <div class="fb-post1-container">
        {% if post.user_id == user.id or is_admin %}
        <div class="delete_post">
            <form method="POST" action="{% url 'delete_post' post.id %}">
                {% csrf_token %}
                <button class="delete_button" type="submit">
                    <i class="fa-solid fa-trash delete_icon"></i>
                </button>
            </form>
        </div>
        {% endif %}
        <div class="fb-p1-main">
            <div class="post-title">
                {% with post.user_id as user_id %}
                {% get_user post.user_id as user %}
                <a href="{% url 'hisprofile' first_name=user.first_name last_name=user.last_name %}"><img src="{{ post.user.utilisateur.profile_picture.url }}" alt="user picture"></a>
                <ul>
                    <li>
                        <h3>
                            {% if post.group %}
                            <a href="{% url 'group_posts' group_name=post.group.group_name %}" style ="color:red;">{{ post.group.group_name }}</a></br><a href="{% url 'hisprofile' first_name=user.first_name last_name=user.last_name %}" style ="font-size:14px;">{{ user.first_name }} {{ user.last_name }}</a>
                            {% else %}
                            <a href="{% url 'hisprofile' first_name=user.first_name last_name=user.last_name %}">{{ user.first_name }} {{ user.last_name }}</a>
                            {% endif %}
                            <span> . {{ post.created_at|timesince }} ago</span>
                        </h3>
                    </li>
                    <li><span>{{ post.created_at|date:"F j, Y, P" }}</span></li>
                </ul>
                {% endwith %}
            </div>     
            <p style ="color: var(--black);">{{ post.contenue }}</p>

            {% if post.file %}
            <div class="post-images">
                <img src="/media/{{ post.file }}" alt="">
            </div>
            {% endif %}
            
            <div class="like-comment">
                <ul>
                    <li>
                        {% if not visiteur %}
                        <div class="like-button" data-post-id="{{ post.id }}">
                            <div class="heart-bg">
                                {% has_liked user post as liked %}
                                {% if liked %}
                                <div class="heart-icon liked"></div>
                                {% else %}
                                <div class="heart-icon"></div>
                                {% endif %}
                            </div>
                            <div class="likes-amount">{{ post.count_likes }}</div>                        
                        </div>
                        {% else %}
                        <div class="like-button" onclick="toggleLike(this)">
                            <div class="heart-bg">
                                <div class="heart-icon liked"></div>
                            </div>
                            <div class="likes-amount">{{ post.count_likes }}</div>
                        </div>
                        {% endif %}
                        {% comment %} <img src="{% static 'Assets/Images/love.png' %}" alt="love">
                        <img src="{% static 'Assets/Images/like.png' %}" alt="like">
                        <span>{{ post.likes.count }} likes</span> {% endcomment %}
                    </li>
                    <li onclick="toggleCommentForm({{ post.id }})"><i class="fa-regular fa-comment-dots"></i> <span id="commentButton">{{ post.comments.count }} comments</span></li>                    
                    {% comment %} <li><i class="fa-solid fa-share-from-square"></i> <span>254 share</span></li> {% endcomment %}
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleCommentForm(postId) {
        var modal = document.getElementById('popup' + postId);
        var backdrop = document.getElementById('backdrop' + postId);
        if (modal.style.display === 'none') {
            modal.style.display = 'block';
            backdrop.style.display = 'block';
        } else {
            modal.style.display = 'none';
            backdrop.style.display = 'none';
        }
        fetchComments(postId);
    }
</script>
{% endfor %}