{% load static %}

<div class="profile">
    <a href="/myprofile/">
    {% comment %} <a href="/{{user_pdp}}"> {% endcomment %}
        <img src="/media/{{user_pdp}}" alt="user">
    </a>
    <h3>{{user_first_name}}</h3>
</div>

{% if not visiteur %}
<div class="group">
    <h4 class="mini-heading">Groups</h4>
    <hr style="margin:10px;opacity: 0.2;">
    {% for group in groups %}
        <label class="group-label" style="display: none;">
            <img src="{{ group.profile_banner.url }}" alt="Group banner">
            <a href="{% url 'group_posts' group.group_name %}">
                <span>{{ group.group_name }}</span>
            </a>
        </label>
    {% endfor %}
    <button class="see-more-btn">See more <i class="fa-solid fa-angle-down"></i></button>
</div>
{% endif %}
<div class="explore">
    <h4 class="mini-headign">Explore</h4>
    <a href="{% url 'all_users' %}"><i class="fa-solid fa-user"></i> Users</a>
    <a href="{% url 'all_groups' %}"><i class="fa-solid fa-user-group"></i> Groups</a>
    <a href="/events"><i class="fa-solid fa-clock"></i> Events</a>
    {% if not visiteur %}
    <a href="#"><i class="fa-solid fa-star"></i></i> Favorites</a>
    <a href="#"><i class="fa-solid fa-bookmark"></i></i> Saves</a>
    {% endif %}
    {% comment %} <button class="see-more-btn">See more <i class="fa-solid fa-angle-down"></i></button> {% endcomment %}
</div>