{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django socialmedia</title>
        <!-- style css link -->
        <link rel="stylesheet" href="{% static 'CSS/login.css' %}">    
        <!-- font link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        {% if invalid_signup_session  %}
        <!-- <div style="margin-top: 0;display: flex; justify-content: center;width: 100%;height: 50px; background-color: rgb(237, 40, 40);"> -->
          <p style="font-size: 20px;color: red;font-weight: 600;">invalid signup details</p>
          <!-- </div> -->
          {% endif %}

        <div class="container" id="container">
            
            <div class="form-container sign-up-container">
               
                
               
                <form id="signUp_form" action="/signup/" method="post">
                    {% csrf_token %}
                   
                    <h1>Create Account</h1>
                   
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>

                    <span>or use your email for registration</span>

                    <!-- {{signUpform.errors}} -->
                    

                    {{signUpform.first_name}}
                    {{signUpform.last_name}}
                    {{signUpform.username}}
                    {{signUpform.email}}
                    <input type="password" name="password1" id="id_password1" placeholder="Password">
                    <input type="password" name="password2" id="id_password2" placeholder="Confirm Password">

                    <button>Sign Up</button>

                </form>

            </div>
            <div class="form-container sign-in-container">
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <h1>Sign in</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your account</span>
                    <input type="text" name="Username" placeholder="Username" />
                    <input type="password" name="Password" placeholder="Password" />
                    <a href="#">Forgot your password?</a>
                    <button type="submit">Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                        <a style="color: white;" href="/home/">Continue en Tant visiteur ?</a>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                        <a style="color: white;" href="/home/">Continue en Tant visiteur ?</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Scripts link-->
       
        <script src="{% static 'Javascript/login.js' %}"></script>
    </body>
</html>
