{% load static %}
<div class="messenger-search">
    <i class="fa-solid fa-user-group"></i>
    <h4>Friends</h4>
</div>

<ul>
    {% for obj in usersobj %}
    <li onclick="voirproifle('{{obj.full_name}}')">
        <img src="/media/{{obj.profile_picture}}" alt="user">
        <b>{{obj.full_name}} 
            {% if obj.online == 'online' %}
            <span style="color: rgb(0, 202, 135);">{{obj.online}}</span>
            {% else %}
            <span style="color: rgb(198, 0, 0);">{{obj.online}}</span>
            {%endif%}
        </b>
    </li>
{% endfor %}
</ul>
<script>
    function voirproifle(fullname){
        f= fullname.replace(/ /g, "-");
        window.location.href = '/profile/'+f
}
</script>
