{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>CAMPUS GLOBALE</title>
    <meta
      name="description"
      content="ROSA is an enchanting Parallax Restaurant WordPress Theme that allows you to tell your story in an enjoyable way, perfect for restaurants or coffee shops."
    />
    <meta
      name="viewport"
      content="width = device-width, initial-scale = 1, shrink-to-fit = no"
    />

    <!-- Place favicon.ico in the root directory -->
    <!-- <link rel="shortcut icon" href="/static/Assets/Images/index_image.jpg/"> -->

    <!--Fonts-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet"> -->
    <!--Fonts-->

    <!--FontAwesome-->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> -->
    <!--FontAwesome-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'CSS/index/index.css' %}" />
    <!-- <link rel="stylesheet" href="css/main.min.css"> -->
  </head>

  <body class="stop-scroll">
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!--Start loader-->
    <div class="loader-wrap">
      <div class="loader">
        <span class="loader-item"></span><span class="loader-item"></span
        ><span class="loader-item"></span><span class="loader-item"></span
        ><span class="loader-item"></span><span class="loader-item"></span
        ><span class="loader-item"></span><span class="loader-item"></span
        ><span class="loader-item"></span><span class="loader-item"></span>
      </div>
    </div>
    <!--End loader-->

    <!--Start Header-->
    <header>
      <nav>
        <div class="logo">
          <a href="/"
            ><img
              style="height: 40px"
              src="/static/Assets/Images/Logo_Ws.png"
              alt="Logo"
          /></a>
        </div>
        <div class="toggle">
          <span class="first"></span>
          <span class="middle"></span>
          <span class="last"></span>
        </div>
        <div class="navigation-bar">
          <ul>
            <li class="active">
              <a href="/home">Home<span class="underline"></span></a>
            </li>

            <li>
              <a href="/panel">Panel<span class="underline"></span></a>
            </li>
            <li>
              <a href="/login">Login<span class="underline"></span></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="text">
        <h2>Welcome</h2>
        <h1>THE CAMPUS</h1>
        <div class="arrow">
          <span class="left"></span>
          <i class="fas fa-asterisk"></i>
          <span class="right"></span>
        </div>
        <span>faculty trainings</span>
        <div class="button"><button id="exploreButton">Explore</button></div>
      </div>

      <svg
        class="svg-down"
        width="192"
        height="61"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0 0 160.7 61.5"
        enable-background="new 0 0 160.7 61.5"
        xml:space="preserve"
      >
        <path
          fill="currentColor"
          d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"
        ></path>
      </svg>

      <div class="arrow-down"></div>
    </header>
    <!--End Header-->

    <!--start About Us-->
    <div class="about-us">
      <div class="text">
        <h2>Discover</h2>
        <h3>Our Website</h3>
        <div><i class="fas fa-asterisk"></i></div>
        <p>
          Our platform serves as a dynamic hub for communication, learning, and
          the exchange of knowledge.
        </p>
      </div>
      <div class="image-container">
        <div class="image image1">
          <img src="/static/Assets/Images/index_image.jpg" alt="Food Photo" />
        </div>
      </div>
    </div>
    <!--End About Us-->

    <!--start Recipes-->
    <div class="recipes">
      <div class="image"></div>
      <div class="text">
        <h2>Compus</h2>
        <h3>Global</h3>
      </div>
    </div>
    <!--End Recipes-->

    <!--start Menu-->
    <div class="menu">
      <div class="box-model">
        <i class="fas fa-times fa-2x close"></i>
        <div class="arrow">
          <div class="arrow arrow-right"></div>
          <div class="arrow arrow-left"></div>
        </div>
        <div class="box-image-container">
          <div class="box-image">
            <img
              src="/static/Assets/Images/index_image_3.jpg"
              alt="Food Photo"
            />
          </div>
        </div>
      </div>
      <div class="menu-image-container">
        <div class="image">
          <img src="/static/Assets/Images/index_image_3.jpg" alt="Food Photo" />
        </div>
        <div class="image">
          <img src="/static/Assets/Images/index_image_2.jpg" alt="Food Photo" />
        </div>
        <div class="image">
          <img src="/static/Assets/Images/index_image_4.jpg" alt="Food Photo" />
        </div>
        <div class="image">
          <img src="/static/Assets/Images/index_image.jpg" alt="Food Photo" />
        </div>
      </div>
      <div class="text">
        <h2>Campus</h2>
        <h3>Global</h3>
        <div><i class="fas fa-asterisk"></i></div>
        <p>
          Effective communication lies at the heart of our platform, fostering
          seamless interaction both among individuals and within groups of
          members. From one-on-one exchanges to vibrant group discussions, our
          platform facilitates open dialogue, encouraging users to share ideas,
          seek feedback, and collaborate on projects.
        </p>
      </div>
    </div>
    <!--End Menu-->

    <!--End fixed-image-->

    <!--start About Us-->
    <div class="reservation">
      <div class="text">
        <h2>Educational</h2>
        <h3>platform</h3>
        <div><i class="fas fa-asterisk"></i></div>
        <p>
          The objective of this educational platform is to create a dynamic and
          interactive online environment that facilitates learning and
          collaboration among teachers, students, and professionals.
        </p>
      </div>
      <div class="image-container">
        <div class="image image2">
          <img src="/static/Assets/Images/boookss.jpg" alt="Food Photo" />
        </div>
      </div>
    </div>
    <!--End About Us-->

    <!--Start Footer-->
    <footer>
      <div class="text">
        <h2>Building Our Future Together: Uniting for Success</h2>
        <div><i class="fas fa-asterisk"></i></div>
        <p>
          "Learning is a treasure that follows its owner everywhere." - Chinese
          Proverb
        </p>
      </div>
      <div class="contact-container">
        <!-- <div class="social-media">
            <h3>Follow Along</h3>
            <div class="links">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div> -->
        <div class="newsletter">
          <h3>NewsLetter</h3>
          <form method="post">
            <input type="email" name="email" placeholder="Type Your Email" />
            <i class="fas fa-envelope"></i>
          </form>
        </div>
      </div>
    </footer>
    <!--End Footer-->

    <!-- Add your site or application content here -->
    <script src="{% static 'Javascript/index/index.js'%}"></script>

    <script>
      document.onload = function () {
        document.getElementsByClassName(".count-number").counterUp({
          delay: 10,
          time: 1000,
        });
      };

      document
        .getElementById("exploreButton")
        .addEventListener("click", function () {
          window.location.href =
            "https://fstt.ac.ma/Portail2023/cycle-licence/";
        });
    </script>
  </body>
</html>
