.group-picture {
    width: auto;
    height: 20%;
    object-fit: cover;
    /* margin: 10px; */
}

.group-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 10px;
    width: 80%;
}

.group-picture img[group-image]{
    height: 30%;
    object-fit: cover;
    border-radius: 50%;
}

.join-group-btn {
    display: flex;
    justify-content:end;
    /* align-items: center; */
}
.join-group-btn button {
    margin-right:7%;
    margin-bottom: 10px;
    background-color: #6524c4;
    border: none;
    padding: 8px;
    border-radius: 10px;
    color: white;
}

.join-group-btn button:hover {
    background-color: #4d1a9c;
}

.join-group-btn button:active {
    background-color: #4d1a9c;
    /* transform: translateY(2px); */
    transform: scale(0.95);
}

.group-header {
    background-color: var(--white);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.group-buttons {
    /* padding: 10px; */
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.group-buttons>div {
    cursor: pointer;
    width: -moz-available;
    display: flex;
    justify-content: center;
    height: 3%;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(102, 50, 224);
    background-color: var(--white);
    padding: 8px;
}

.group-discussion {
    border-radius: 0px 0px 0px 15px;
}

.group-about {
    border-radius: 0px 0px 15px 0px;
}