{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{%static 'Assets/Images/Logo_Ws.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campus Social Media</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'CSS/userProfile/userProfile.css' %}"/>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}"/>
   
    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{% static 'CSS/userProfile/swiper-bundle.min.css' %}">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'CSS/userProfile/styles.css' %}">


    <title> Profile </title>
  </head>

  <body>
    <div id = "profile_card">
      <div id = "services_card">   
        <section class="services_section">
        <div class="services__container container grid">
          
          <div class="services__card" style="width: 100%;" >
            <div class="services__modal" >
              <div class="services__modal-content" >
                <i class="bx bx-x services__modal-close"></i>
                <div class="contact__container container grid" style="width: 100%;">
                  <div class="contact__content" style="width: 100%;">
                      <h2 class="contact__title contact__title-info">Talk to me</h2>
  
                      <div class="contact__info" style="width: 100%;">
                        <br>
                          <div class="contact__card" style="width: 100%;">
                              <h3 class="contact__card-title"><i class='bx bx-mail-send contact__card-icon'></i> Email</h3>
                              <span class="contact__card-data">{{utilisateurdata.public_email}}</span>
                          </div>
                          <br>
  
                          <div class="contact__card" style="width: 100%;">
                              <h3 class="contact__card-title"><i class='bx bxl-whatsapp contact__card-icon'></i> Phone Number</h3>
                              <span class="contact__card-data">{{utilisateurdata.public_phone_number}}</span>
                          </div>
                          <br>
  
                          <div class="contact__card" style="width: 100%;">
                              <h3 class="contact__card-title"><i class='bx bxl-github contact__card-icon'></i> Github</h3>
                              <span class="contact__card-data">{{ userdata.first_name }} {{ userdata.last_name }}</span>
                          </div>
  
                          
                  </div>
      
              </div>
          
              </div>
            </div>
          </div>
        </div>
        </div>
      </section> 
    </div>
    </div>
    <header>
      {% include "HTML/home/header-homepage.html"%}
    </header>
    <main class='main-content' >
      
      <div class="profile-container" >
        <!-- profile main -->
        <div class="container">
          <div class="profile-main">

         <!-- profile header -->
            {% include 'HTML/userProfile/profileheader.html'%}

            {% if utilisateurdata.AboutME %}
        
            <div class="profile-description" style="text-align: left;">
              <h2>About</h2>
            
          
              <p id="paragraphContent" contenteditable="false">
                  {{utilisateurdata.AboutME}}
              </p>
            </div>
            
{% endif %}  

<!-- 


 -->
{% if Reaserches %}
<div class="profile-description">
  <h2>Reaserches</h2>

  {% for exp in Reaserches%}
  <div class="profile-desc-row" style="display: flex;align-items: start;">
    <!-- <img src="/media/profile_pictures/jobs.png" alt="north" /> -->
    <div style="width: 70px;margin-inline: 15px;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 32v448h448V32H0zm262.2 334.4c-6.6 3-33.2 6-50-14.2-9.2-10.6-25.3-33.3-42.2-63.6-8.9 0-14.7 0-21.4-.6v46.4c0 23.5 6 21.2 25.8 23.9v8.1c-6.9-.3-23.1-.8-35.6-.8-13.1 0-26.1 .6-33.6 .8v-8.1c15.5-2.9 22-1.3 22-23.9V225c0-22.6-6.4-21-22-23.9V193c25.8 1 53.1-.6 70.9-.6 31.7 0 55.9 14.4 55.9 45.6 0 21.1-16.7 42.2-39.2 47.5 13.6 24.2 30 45.6 42.2 58.9 7.2 7.8 17.2 14.7 27.2 14.7v7.3zm22.9-135c-23.3 0-32.2-15.7-32.2-32.2V167c0-12.2 8.8-30.4 34-30.4s30.4 17.9 30.4 17.9l-10.7 7.2s-5.5-12.5-19.7-12.5c-7.9 0-19.7 7.3-19.7 19.7v26.8c0 13.4 6.6 23.3 17.9 23.3 14.1 0 21.5-10.9 21.5-26.8h-17.9v-10.7h30.4c0 20.5 4.7 49.9-34 49.9zm-116.5 44.7c-9.4 0-13.6-.3-20-.8v-69.7c6.4-.6 15-.6 22.5-.6 23.3 0 37.2 12.2 37.2 34.5 0 21.9-15 36.6-39.7 36.6z"/></svg>
    </div>
    <div>

      <h3>{{exp.recherche_referrence}}</h3>

      {% if exp.recherche_document %}
      <a style="font-weight: 200;" href="/media/{{exp.recherche_document}}">Open Recherche Document <i class="fa-regular fa-file"></i></a>
      {% endif %} 

      <p>{{exp.description}}</p>

      <hr />
    </div>
  </div>
{% endfor %}
</div>

{% endif %}  

<!-- 


 -->
          {% if Experiences %}

            <div class="profile-description">
              <h2>Experience</h2>
            
              <!-- Experiene -->

              {% for exp in Experiences%}
              <div class="profile-desc-row">
                <img src="/media/{{exp.picture}}" alt="north" />
                <div>
                  <h3>{{exp.titre}}</h3>
                  <h5>{{exp.entreprise}}</h5>
                  <b>{{exp.date_debut}} - {{exp.date_fin}}</b>
                  <p>{{exp.description}}</p>

                  <hr />
                </div>
              </div>
          {% endfor %}
            </div>
{% endif %}  

            <!-- Profile description 1 -->
  {% if Educations %}
            <div class="profile-description">
              <h2>Education</h2>

              {% for edu in Educations %}

              <div class="profile-desc-row">
                <img src="/media/{{edu.picture}}" alt="north" />
                <div>
                  <h3>{{edu.UniversityName}}</h3>
                  <b>{{edu.FiledOfStudy}}</b>
                  <b>{{edu.date_debut}} - {{edu.date_fin}}</b>
                  <hr />
                </div>
              </div>

{% endfor %}

</div>

{% endif%}    
        
  
            <!-- Profile description 3 -->
  {% if certificates %}
            <div class="profile-description">
              <h2>Certification</h2>
{% for c in certificates %}
              <div class="profile-desc-row">
                <img src="/media/{{c.picture}}" alt="north" />
                <div>
                  <h3>{{c.Nom_Certificat}}</h3>
                  <h5>{{c.date_obtention}}</h5>
                  <b>{{c.description}}</b>
                </div>

             
              </div>
{% endfor %}
            </div>
{% endif%}    


{% if skills %}

            <div class="profile-description">
              <h2>Skills</h2>
              {% for skill in skills %}
              <a href="#" style="font-size: 15px;" class="skills-btn">{{skill.SkillName}}</a>
              {% endfor %}
             
            </div>
{% endif%}    

{% if languages %}

            <div class="profile-description" >
              <h2>Languages</h2>
              {% for L in languages %}
              <a href="#" class="language-btn" style="font-size: 15px;">{{L.Language}}</a>
              {% endfor %}

            </div>{% endif%}    
   
          </div>
        </div>
       <!-- home right start here -->
  
    <!-- home right end -->
      </div>
  
      <!-- </div> -->
        <!--div chayta ??!!!!!!! -->

      <div class=" home-right-profile" >
        <div class="home-right-wrapper">
  
            <!-- messenger start -->
            {% if not visiteur %}
            <div class="messenger">
                {% include "HTML/home/messages.html" %}
            </div>
            {% endif %}
            <!-- messenger end -->
  
            <!-- event and friend start -->
            <div class="event-friend">
                {% include "HTML/home/event-template.html" %}
            </div>
            <!-- event and friend end -->
  
            <!-- groups start -->
            <div class="groups">
                {% include "HTML/home/create-page.html" %}
            </div>
            <!-- groups end -->
  
        </div>
    </div>
    </main>


    <script src="{% static 'Javascript/homepage.js'%}"></script>
    <script src="{% static 'Javascript/userProfile/userProfile.js' %}"></script>


        <!--=============== MAIN JS ===============-->
        <script src="{% static 'Javascript/userProfile/main.js' %}"></script>

        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

  </body>
</html>
