{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campus Social Media</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'CSS/userProfile/userProfile.css' %}"/>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}"/>
   
    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{% static 'CSS/userProfile/swiper-bundle.min.css' %}">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'CSS/userProfile/styles.css' %}">


    <title> Profile </title>
  </head>

  <body>
    <div id = "profile_card">
      <div id = "services_card">   
        <section class="services_section">
        <div class="services__container container grid">
          
          <div class="services__card" style="width: 100%;" >
            <div class="services__modal" >
              <div class="services__modal-content" >
                <i class="bx bx-x services__modal-close"></i>
                <div class="contact__container container grid" style="width: 100%;">
                  <div class="contact__content" style="width: 100%;">
                      <h2 class="contact__title contact__title-info">Talk to me</h2>
  
                      <div class="contact__info" style="width: 100%;">
                        <br>
                          <div class="contact__card" style="width: 100%;">
                              <h3 class="contact__card-title"><i class='bx bx-mail-send contact__card-icon'></i> Email</h3>
                              <span class="contact__card-data">{{utilisateurdata.public_email}}</span>
                          </div>
                          <br>
  
                          <div class="contact__card" style="width: 100%;">
                              <h3 class="contact__card-title"><i class='bx bxl-whatsapp contact__card-icon'></i> Phone Number</h3>
                              <span class="contact__card-data">{{utilisateurdata.public_phone_number}}</span>
                          </div>
                          <br>
  
                          <div class="contact__card" style="width: 100%;">
                              <h3 class="contact__card-title"><i class='bx bxl-github contact__card-icon'></i> Github</h3>
                              <span class="contact__card-data">{{ userdata.first_name }} {{ userdata.last_name }}</span>
                          </div>
  
                          
                  </div>
      
              </div>
          
              </div>
            </div>
          </div>
        </div>
      </section> </div>
    </div>
    <header>
      {% include "HTML/home/header-homepage.html"%}
    </header>
    <main class='main-content' >
      
      <div class="profile-container">
        <!-- profile main -->
        <div class="container">
          <div class="profile-main">
            <div class="profile-container">
              <img
                src="/static/Assets/Images/cover.jpg"
                alt="cover-pic"
                width="100%"
              />
              <div class="profile-container-inner" style="width: 90%;">
                <div class="user-img">
            <div id="upload-container">
              <img src="/media/{{user_pdp}}" alt="user-1" class="profile-pic" id="profile-pic"/>
              
              <label for="input-file" id="uploadbtn"> <i class="fas fa-camera"></i></label>
           </div>

                 <input type="file" accept="image/jpeg , image/png ,image/jpg" id="input-file">

                 <div style="display: flex;">

                 <h1>
                  {{userdata.first_name}} {{userdata.last_name}}
                </h1>

                  {% if utilisateurdata.role is 1 %}
                  <div style="display: flex;">
                    <i class="fa-solid fa-user-tie" style="margin-inline: 10px;"></i>
                    <h6 style="font-weight: 400;">Professeur</h6>
                  </div>
                  {% elif utilisateurdata.role is 2  %}
                  <div style="display: flex;">
                    <i class="fa-solid fa-user-graduate" style="margin-inline: 10px;"></i>
                    <h6 style="font-weight: 400;">Etudiant</h6>
                  </div>
                  {% elif utilisateurdata.role is 3  %}
                  <div style="display: flex;">
                    <i class="fa-solid fa-hotel" style="margin-inline: 10px;"></i>
                    <h6 style="font-weight: 400;">Entreprise</h6>
                  </div>
                  {% endif %}
                </div>
                 
{% if utilisateurdata.BIO %}
              <br>
                <h3 style="font-weight: 400;">{{utilisateurdata.BIO}}</h3>
               <br>
               {% endif %}
              <!-- </p> my adress <p> -->
                  <!-- <div id ="contact_trigger">
                    <span class="services__button" id="services_button">
                      Contact Info <i class="bx bx-right-arrow services__icon"></i>
                    </span>
                  </div> -->
                  
            </div>
                            

                <div class="profile-btn" style=" align-content: center;display: flex;">
                  {% if not myprofile %}
                  <a href="{% url 'follow' first_name=userdata.first_name last_name=userdata.last_name %}" class="primary-btn">
                    <img src="{%static 'Assets/Images/connect.png'%}" alt="connect"/>Follow</a>

                  <a href="{% url 'chat_app' %}">
                    <img src="{%static '/Assets/Images/chat.png'%}" alt="connect" /> Message </a>
                    {% endif %}

                    {% if utilisateurdata.CV %}
                   <a href="/media/{{utilisateurdata.CV}}" class="primary-btn">
                    <img src="{%static '/Assets/Images/network.png'%}" alt="connect" /> CV Public </a> 
                    {% endif %}
                  
                  
                  <a href="{% url 'post_view' %}">
                    <img src="{%static '/Assets/Images/sss.webp' %}" alt="connect" /> posts </a>

                    <a style="cursor: pointer;"><div id ="contact_trigger">
                      <span class="services__button" id="services_button">
                        Contact Info <i class="bx bx-right-arrow services__icon"></i>
                      </span>
                    </div></a>
  
                </div>
               
              </div>
              
            </div>


            {% if utilisateurdata.AboutME %}
        
            <div class="profile-description" style="text-align: left;">
              <h2>About</h2>
            
          
              <p id="paragraphContent" contenteditable="false">
                  {{utilisateurdata.AboutME}}
              </p>
            </div>
{% endif %}  

          {% if Experiences %}

            <div class="profile-description">
              <h2>Experience</h2>
            
              <!-- Experiene -->

              {% for exp in Experiences%}
              <div class="profile-desc-row">
                <img src="/media/{{exp.picture}}" alt="north" />
                <div>
                  <h3>{{exp.titre}}</h3>
                  <h5>{{exp.entreprise}}</h5>
                  <b>{{exp.date_debut}} - {{exp.date_fin}}</b>
                  <p>{{exp.description}}</p>

                  <hr />
                </div>
              </div>
          {% endfor %}
            </div>
{% endif %}  

            <!-- Profile description 1 -->
  {% if Educations %}
            <div class="profile-description">
              <h2>Education</h2>

              {% for edu in Educations %}

              <div class="profile-desc-row">
                <img src="/media/{{edu.picture}}" alt="north" />
                <div>
                  <h3>{{edu.UniversityName}}</h3>
                  <b>{{edu.FiledOfStudy}}</b>
                  <b>{{edu.date_debut}} - {{edu.date_fin}}</b>
                  <hr />
                </div>
              </div>

{% endfor %}

</div>

{% endif%}    
        
  
            <!-- Profile description 3 -->
  {% if certificates %}
            <div class="profile-description">
              <h2>Certification</h2>
{% for c in certificates %}
              <div class="profile-desc-row">
                <img src="/media/{{c.picture}}" alt="north" />
                <div>
                  <h3>{{c.Nom_Certificat}}</h3>
                  <h5>{{c.date_obtention}}</h5>
                  <b>{{c.description}}</b>
                </div>

             
              </div>
{% endfor %}
            </div>
{% endif%}    


{% if skills %}

            <div class="profile-description">
              <h2>Skills</h2>
              {% for skill in skills %}
              <a href="#" style="font-size: 15px;" class="skills-btn">{{skill.SkillName}}</a>
              {% endfor %}
             
            </div>
{% endif%}    

{% if languages %}

            <div class="profile-description" >
              <h2>Languages</h2>
              {% for L in languages %}
              <a href="#" class="language-btn" style="font-size: 15px;">{{L.Language}}</a>
              {% endfor %}

            </div>{% endif%}    
   
          </div>
        </div>
       <!-- home right start here -->
  
    <!-- home right end -->
      </div>
  
      </div>
      <div class=" home-right-profile" >
        <div class="home-right-wrapper">
  
            <!-- messenger start -->
            <div class="messenger">
                {% include "HTML/home/messages.html" %}
            </div>
            <!-- messenger end -->
  
            <!-- event and friend start -->
            <div class="event-friend">
                {% include "HTML/home/event-template.html" %}
            </div>
            <!-- event and friend end -->
  
            <!-- groups start -->
            <div class="groups">
                {% include "HTML/home/create-page.html" %}
            </div>
            <!-- groups end -->
  
        </div>
    </div>
    </main>


    <script src="{% static 'Javascript/homepage.js'%}"></script>
    <script src="{% static 'Javascript/userProfile/userProfile.js' %}"></script>



        <!--=============== SWIPER JS ===============-->
        <script src="{% static 'Javascript/userProfile/swiper-bundle.min.js'%}"></script>
    
        <!--=============== MIXITUP FILTER ===============-->
        <script src="{% static 'Javascript/userProfile/mixitup.min.js'%}"></script>
    
        <!--=============== MAIN JS ===============-->
        <script src="{% static 'Javascript/userProfile/main.js' %}"></script>

        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

  </body>
</html>
