{% load static %}
{% load user_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="{% static 'CSS/userProfile/settings.css'%}">
  </head>
  <body>

    <div class="backend-root">


      <header>
        <div class="header-section">
          <div class="header-content">
            <div class="header-container logo">
              <img src="{%static 'Assets/Images/Logo_Ws.png' %}" class="platform-logo">
            </div>
            <div class="header-container header-nav">
              <!-- <a href="#"></a> -->
              <!-- <a href="#">></a> -->
              <!-- <a href="#">i></a> -->
            </div>
          </div>
        </div>
      </header>



      <div class="body-root">
        <div class="body-section">
          <div class="body-content">


            <div class="sidebar" >
              <div class="sidebar-content" >
                <div class="sidebar-container sidebar-menu"  >
                  
                  <a style="font-size: 20px;" href="/home" class="menu-item">Home</a>
                  <br>
                  <a style="font-size: 20px;" href="/mes-posts" class="menu-item">My Posts</a>
                  <br>
                  <a style="font-size: 20px;" href="/mes-groups" class="menu-item">My Groups</a>
                  <br>
                  <a style="font-size: 20px;" href="/my-Followers" class="menu-item">My Followers</a>
                  <br>
                  <a style="font-size: 20px;" href="/my-Followings" class="menu-item">My Followings</a>
                  <br>
                  <a style="font-size: 20px;" href="/settings" class="menu-item">settings</a>
                  <br><!-- <a href="#" class="menu-item">i>Analytics</a> -->
                  <!-- <a href="#" class="menu-item">Settings</a> -->
                </div>
              </div>
            </div>

            {% if myfollowers %}
            <div class="main">
                        <div class="main-content">
                          <div class="main-container account-settings">
                            <div class="settings-form account">
          
                              <h2>My Followers</h2>
                              <hr>
                              {% for follower in all_myfollowers%}
                              <div style="width: 50%;margin: 20px;">
                                <div style="display: flex;justify-content:space-around;">
                                    <img src="/media/{{follower.follower.profile_picture}}" style="justify-self: end;height: 35px;width: 35px;" alt="" srcset="">
                                    <h4 style="margin: 5px;font-size: 21px;font-weight:400;">{{follower.follower.user.first_name}} {{follower.follower.user.last_name}}</h4>
                                   
                                    <a style="background-color: white;color:red;outline-color: red;padding: 10px;" href="{% url 'remove_follower' first_name=follower.follower.user.first_name last_name=follower.follower.user.last_name  %}"> remove </a>
                                  
                                  </div>
                                </div>
                                {% endfor %}
          
          
                            </div>
                          </div>
                        </div>
                      </div>
          
                      {% endif %}


            {% if myfollowings %}
  <div class="main">
              <div class="main-content">
                <div class="main-container account-settings">
                  <div class="settings-form account">

                    <h2>My followings</h2>
                    <hr>
                    {% for following in all_myfollowings %}

                    <div style="width: 50%;margin: 20px;">
                      <div style="display: flex;margin: 5px;">
                          <img src="/media/{{following.followed.profile_picture}}" style="justify-self: end;height: 45px;width: 45px;" alt="" srcset="">
                        
                          <div style="margin-left: 30px;">
                            <h4 style="margin: 5px;font-size: 21px;font-weight:400;">{{following.followed.user.first_name}} {{following.followed.user.last_name}}</h4>
                            
                          </div>

                            <a style="background-color: white;color:red;outline-color: red;padding: 10px;" href="{% url 'unfollow' first_name=following.followed.user.first_name last_name=following.followed.user.last_name %}"> unfollow </a>
                        
                        </div>
                      </div>
                      {% endfor %}


                  </div>
                </div>
              </div>
            </div>

            {% endif %}
<!-- 

 -->
            {% if settings_page %}
            <div class="main">
              <div class="main-content">
                <div class="main-container account-settings">
                  <div class="settings-form account">

                    <h2>Account settings</h2>
                    <form class="account-settings-form" action="/settings/" method="post" enctype="multipart/form-data" >
                      <!--  -->
                      {% csrf_token %}
                      <hr>
                      <br>
                      <div style="width: 100%;display: flex; justify-content: space-between;">
                        <div class="form-field short">
                          <label for="profile_picture">Profile Picture</label>
                          {{utilisateurform.profile_picture}}
  
                          <!-- <input id="CV" type="file" name="CV"> -->
                        </div>
                        <img src="/media/{{utilisateurdata.profile_picture}}" style="height: 150px;width: 150px;" alt="" srcset="">
                      </div>
                      <hr>
                      <br>

                      <div class="form-field short">
                        <label for="contact-email">Public Email Address</label>
                        {{utilisateurform.public_email}}
                        <!-- <input id="contact-email" type="text" name="contact-email"> -->
                      </div>

                      <div class="form-field short">
                        <label for="contact-email">Public Phone Number</label>
                        {{utilisateurform.public_phone_number}}
                        <!-- <input id="contact-email" type="text" name="contact-email"> -->
                      </div>

                      <div class="form-field short">
                        <label for="BIO">BIO</label>
                        {{utilisateurform.BIO}}

                        <!-- <input id="BIO" type="text" name="BIO"> -->
                      </div>
                      <br>
                        <hr>
                        <br>
                      <div class="form-field short">
                        <label for="CV">CV</label>
                        {{utilisateurform.CV}}

                        <!-- <input id="CV" type="file" name="CV"> -->
                      </div>

                      <!-- submit button  -->
                      <div class="settings-actions">
                        <div class="button-container">
                          <button class="save-settings" style="background-color:#f44236;color: white;" type="submit">Save settings</button>
                        </div>
                      </div>
                        <!--  -->
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>



      <footer>
        <div class="footer-section">
          <div class="footer-content">
           <!--  -->
           <center>
               <p>All rights Reserved</p>
            </center>
          </div>
        </div>
      </footer>


    </div>
  </body>
</html>