{% load static %}
{% load user_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="{% static 'CSS/userProfile/settings.css'%}">
  </head>
  <body>

    <div class="backend-root" >


      <header>
        <div class="header-section">
          <div class="header-content">
            <div class="header-container logo">
              <img src="{%static 'Assets/Images/Logo_Ws.png' %}" class="platform-logo">
            </div>
            <div class="header-container header-nav">
              <!-- <a href="#"></a> -->
              <!-- <a href="#">></a> -->
              <!-- <a href="#">i></a> -->
            </div>
          </div>
        </div>
      </header>



      <div class="body-root "  >
        <div class="body-section " >
          <div class="body-content " >


            <div class="sidebar" style="width: 16%;">
              <div class="sidebar-content" >
                <div class="sidebar-container sidebar-menu"  >
                  
                  <a style="font-size: 15px;" href="/home" class="menu-item">Home</a>
                  <br>
                  <a style="font-size: 15px;" href="/settings" class="menu-item">Profile Settings</a>
                  <br>
                  <a style="font-size: 15px;" href="/mes-recherches" class="menu-item">Recherches Settings</a>
                  <br>
                  <a style="font-size: 15px;" href="/Experiences-settings" class="menu-item">Experiences Settings</a>
                  <br>
                  <a style="font-size: 15px;" href="/educations-settings" class="menu-item">Educations Settings</a>
                  <br>
                  <a style="font-size: 15px;" href="/certificates-settings" class="menu-item">certificates Settings</a>
                  <br>
                  <a style="font-size: 15px;" href="/my-Followers" class="menu-item">My Followers</a>
                  <br>
                  <a style="font-size: 15px;" href="/my-Followings" class="menu-item">My Followings</a>
                  <br>
                  <a style="font-size: 15px;" href="/mes-posts" class="menu-item">My Posts</a>
                  <br>
                  <a style="font-size: 15px;" href="/mes-groups" class="menu-item">My Groups</a>
                  <br>
                  
                  
                  <!-- <a href="#" class="menu-item">i>Analytics</a> -->
                  <!-- <a href="#" class="menu-item">Settings</a> -->
                </div>
              </div>
            </div>


<!--  -->
<!-- debut settings d group -->

 {% if group %}
 <div class="main" >
             <div class="main-content">
               <div class="main-container account-settings">
                 <div class="settings-form account">

                   <h2>My group</h2>
                   <hr>
                   <!--  -->
                   {% for group in groupgroupgroupgroup %}

                   <div style="width: 90%;margin: 20px;">
                     <div style="display: flex;align-items:baseline;justify-content: start;">
                         <!-- <img src="/media/" style="justify-self: end;height: 35px;width: 35px;" alt="" srcset=""> -->
                       <div>
                         <h2 style="margin: 5px;font-size: 21px;font-weight:400;">{{group.xxxxx}}</h2>
                         <p style="margin: 5px;font-size: 21px;font-weight:400;">{{group.description}}</p>
                        </div>
                        
                        <a style=" color: red;" href="/deletegroup/{{group.id}}">Delete</a>
                       
                       </div>
                     </div>
<!--  -->                     {% endfor %}


                     <br><br>
                     <h3>Ajouter Nouvel Researche</h3>
                     <form class="account-settings-form" action="/mes-groupsssss/" method="post" enctype="multipart/form-data" >
                     {% csrf_token %}
                     {{groupform}}

                       <div class="settings-actions">
                         <div class="button-container">
                           <button class="save-settings" style="background-color:#8652a0;color: white;" type="submit">Save </button>
                         </div>
                       </div>
                     </form>

                 </div>
               </div>
             </div>
           </div>

           {% endif %}


<!--  -->
<!-- fin settings d group -->
<!--  -->


<!-- 

 -->

 {% if ResearchesSetttings %}
 <div class="main" >
             <div class="main-content">
               <div class="main-container account-settings">
                 <div class="settings-form account">

                   <h2>My Researches</h2>
                   <hr>
                   <!--  -->
                   {% for Researche in Researches %}

                   <div style="width: 90%;margin: 20px;">
                     <div style="display: flex;align-items:baseline;justify-content: start;">
                         <!-- <img src="/media/" style="justify-self: end;height: 35px;width: 35px;" alt="" srcset=""> -->
                       <div>
                         <h2 style="margin: 5px;font-size: 21px;font-weight:400;">{{Researche.recherche_referrence}}</h2>
                         <p style="margin: 5px;font-size: 21px;font-weight:400;">{{Researche.description}}</p>
                        </div>
                        
                        <a style=" color: red;" href="/deleterecherches/{{Researche.id}}">Delete</a>
                       
                       </div>
                     </div>
<!--  -->                     {% endfor %}


                     <br><br>
                     <h3>Ajouter Nouvel Researche</h3>
                     <form class="account-settings-form" action="/mes-recherches/" method="post" enctype="multipart/form-data" >
                     {% csrf_token %}
                     {{Researchesform}}

                       <!-- submit button  -->
                       <div class="settings-actions">
                         <div class="button-container">
                           <button class="save-settings" style="background-color:#8652a0;color: white;" type="submit">Save Certification</button>
                         </div>
                       </div>
                         <!--  -->
                     </form>

                 </div>
               </div>
             </div>
           </div>

           {% endif %}


<!--  -->
 {% if myfollowers %}
            <div class="main" >
                        <div class="main-content">
                          <div class="main-container account-settings">
                            <div class="settings-form account">
          
                              <h2>My Followers</h2>
                              <hr>
                              {% for follower in all_myfollowers%}
                              <div style="width: 50%;margin: 20px;">
                                <div style="display: flex;justify-content:space-around;">
                                    <img src="/media/{{follower.follower.profile_picture}}" style="justify-self: end;height: 35px;width: 35px;" alt="" srcset="">
                                    <h4 style="margin: 5px;font-size: 21px;font-weight:400;">{{follower.follower.user.first_name}} {{follower.follower.user.last_name}}</h4>
                                   
                                    <a style="background-color: white;color:red;outline-color: red;padding: 10px;" href="{% url 'remove_follower' first_name=follower.follower.user.first_name last_name=follower.follower.user.last_name  %}"> remove </a>
                                  
                                  </div>
                                </div>
                                {% endfor %}
          
          
                            </div>
                          </div>
                        </div>
                      </div>
          
                      {% endif %}


            {% if myfollowings %}
  <div class="main">
              <div class="main-content">
                <div class="main-container account-settings">
                  <div class="settings-form account">

                    <h2>My followings</h2>
                    <hr>
                    {% for following in all_myfollowings %}

                    <div style="width: 50%;margin: 20px;">
                      <div style="display: flex;margin: 5px;">
                          <img src="/media/{{following.followed.profile_picture}}" style="justify-self: end;height: 45px;width: 45px;" alt="" srcset="">
                        
                          <div style="margin-left: 30px;">
                            <h4 style="margin: 5px;font-size: 21px;font-weight:400;">{{following.followed.user.first_name}} {{following.followed.user.last_name}}</h4>
                            
                          </div>

                            <a style="background-color: white;color:red;outline-color: red;padding: 10px;" href="{% url 'unfollow' first_name=following.followed.user.first_name last_name=following.followed.user.last_name %}"> unfollow </a>
                        
                        </div>
                      </div>
                      {% endfor %}


                  </div>
                </div>
              </div>
            </div>

            {% endif %}
<!-- 

 -->
 <!--  -->

 {% if Certificationssettings %}
 <div class="main">
             <div class="main-content">
               <div class="main-container account-settings">
                 <div class="settings-form account">

                   <h2>My Certifications</h2>
                   <hr>
                   {% for certificate in certificates %}
<br>
                   <div style="width: 80%;padding: 5px;">
                     <div style="display: flex;width: 100%;align-items: center;justify-content: space-around;">
                      <div style="display: flex">

                        <img src="/media/{{certificate.picture}}" style="height: 85px;width: 85px;" alt="" srcset="">
                        
                        <div style="padding-inline: 50px;">
                          <h3 style="font-size: 25px;font-weight:400;">{{certificate.Nom_Certificat}}</h3>
                          <h5>{{certificate.date_obtention}}</h5>
                          <p>{{certificate.description}}</p>
                        </div>
                      </div>   

                           <a style="color:red;padding: 10px" href="/deleteCertificate/{{certificate.id}}"> Delete </a>
                       
                       </div>
                     </div>
                     <br>
                     {% endfor %}

                      <br><br>
                      <h3>Ajouter Nouvel Certification</h3>
                      <form class="account-settings-form" action="/certificates-settings/" method="post" enctype="multipart/form-data" >
                      {% csrf_token %}
                      {{Certificationsforum}}

                        <!-- submit button  -->
                        <div class="settings-actions">
                          <div class="button-container">
                            <button class="save-settings" style="background-color:#8652a0;color: white;" type="submit">Save Certification</button>
                          </div>
                        </div>
                          <!--  -->
                      </form>

                 </div>
               </div>
             </div>
           </div>

           {% endif %}

           <!--  -->

           <!--  -->

{% if ExperiencesSettings %}
<div class="main">
            <div class="main-content">
              <div class="main-container account-settings">
                <div class="settings-form account">

                  <h2>My Experiences</h2>
                  <hr>
                  {% for exp in allmyExperiences %}
<br>
                  <div style="width: 80%;padding: 5px;">
                    <div style="display: flex;width: 100%;align-items: center;justify-content: space-around;">
                     <div style="display: flex">

                       <img src="/media/{{exp.picture}}" style="height: 85px;width: 85px;" alt="" srcset="">
                       
                       <div style="padding-inline: 50px;">
                         <h3 style="font-size: 25px;font-weight:400;">{{exp.titre}}</h3>
                         <h5>{{exp.entreprise}}</h5>
                         <p>{{exp.date_debut}} - {{exp.date_fin}}</p>
                         <p>{{exp.description}}</p>
                       </div>
                     </div>   

                          <a style="color:red;padding: 10px" href="/deleteExperiences/{{exp.id}}"> Delete </a>
                      
                      </div>
                    </div>
                    <br>
                    {% endfor %}

                     <br><br>
                     <h3>Ajouter Nouvel Experience</h3>
                     <form class="account-settings-form" action="/Experiences-settings/" method="post" enctype="multipart/form-data" >
                     {% csrf_token %}
                     {{Experiencesform}}

                       <!-- submit button  -->
                       <div class="settings-actions">
                         <div class="button-container">
                           <button class="save-settings" style="background-color:#8652a0;color: white;" type="submit">Save Education</button>
                         </div>
                       </div>
                         <!--  -->
                     </form>

                </div>
              </div>
            </div>
          </div>

          {% endif %}
<!--  -->

<!--  -->
{% if groups %}
<div class="main" >
  <div class="main-content">
    <div class="main-container account-settings">
      <div class="settings-form account">

        <h2>My Groups</h2>
        <hr>
        {% for group in groups %}
        <div style="width: 50%;margin: 20px;">
          <div style="display: flex;justify-content:space-around;">
              <img src="/media/{{group.profile_banner}}" style="justify-self: end;height: 100px;" alt="" srcset="">
              <h4 style="margin: 5px;font-size: 21px;font-weight:400;">{{group.group_name}}</h4>
              <a style="background-color: white;color:red;outline-color: red;padding: 10px;" href="{% url 'deleteGroup' id=group.id  %}"> remove </a>            
            </div>
          </div>
          {% endfor %}


      </div>
    </div>
  </div>
</div>
{% if groups == "" %}
  <h4> No group available </h4>
{% endif %}
{% endif %}
<!--  -->

<!--  -->
{% if posts %}
  <div class="main-content">
    <div class="main-container account-settings">
      <div class="settings-form account">
        <h2>My Posts</h2>
        <hr>
        <table style="border: 1px solid black; border-collapse: collapse;">
          <thead>
            <tr>
              <th style="border: 1px solid black;">Content</th>
              <th style="border: 1px solid black;">File</th>
              <th style="border: 1px solid black;">Created At</th>
              <th style="border: 1px solid black;">Group</th>
            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
            <tr>
              <td style="border: 1px solid black; padding:8px;">{{post.contenue}}</td>
              <td style="border: 1px solid black;display: flex;justify-content: center; padding:8px;">
                {% comment %} {% if post.file.url.endswith('.pdf') %}
                  <!-- Display something else for PDFs -->
                {% else %} {% endcomment %}
                  <img src="/media/{{post.file}}" style="height: 100px;" alt="" srcset="">
                {% comment %} {% endif %} {% endcomment %}
              </td>
              <td style="border: 1px solid black;padding:8px;">{{post.created_at}}</td>
              <td style="border: 1px solid black;padding:8px;">
                {% if post.group and post.group.group_name %}
                <img src="/media/{{post.group.profile_banner}}" style="height: 50px;" alt="" srcset=""><a href = "{% url 'group_posts' group_name=post.group.group_name %}">{{ post.group.group_name }}</td>
                {% else %}
                  <p>General</p>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endif %}
<!--  -->

<!--  -->
{% if educationssetings %}
 <div class="main">
             <div class="main-content">
               <div class="main-container account-settings">
                 <div class="settings-form account">

                   <h2>My Educations</h2>
                   <hr>
                   {% for education in educations %}
<br>
                   <div style="width: 80%;padding: 5px;">
                     <div style="display: flex;width: 100%;align-items: center;justify-content: space-around;">
                      <div style="display: flex">

                        <img src="/media/{{education.picture}}" style="height: 85px;width: 85px;" alt="" srcset="">
                        
                        <div style="padding-inline: 50px;">
                          <h3 style="font-size: 25px;font-weight:400;">{{education.UniversityName}}</h3>
                          <h5>{{education.FiledOfStudy}}</h5>
                          <p>{{education.date_debut}} - {{education.date_fin}}</p>
                        </div>
                      </div>   

                           <a style="color:red;padding: 10px" href="/deleteEducation/{{education.id}}"> Delete </a>
                       
                       </div>
                     </div>
                     <br>
                     {% endfor %}

                      <br><br>
                      <h3>Ajouter Nouvel Education</h3>
                      <form class="account-settings-form" action="/educations-settings/" method="post" enctype="multipart/form-data" >
                      {% csrf_token %}
                      {{Educationform}}

                        <!-- submit button  -->
                        <div class="settings-actions">
                          <div class="button-container">
                            <button class="save-settings" style="background-color:#8652a0;color: white;" type="submit">Save Education</button>
                          </div>
                        </div>
                          <!--  -->
                      </form>

                 </div>
               </div>
             </div>
           </div>

           {% endif %}

 <!--  -->

 {% if settings_page %}
            <div class="main">
              <div class="main-content">
                <div class="main-container account-settings">
                  <div class="settings-form account">

                    <h2>Account settings</h2>
                    <form class="account-settings-form" action="/settings/" method="post" enctype="multipart/form-data" >
                      <!--  -->
                      {% csrf_token %}
                      <br>
                      <div style="width: 100%;display: flex; justify-content: space-between;">
                        <div class="form-field short">
                          <label for="profile_picture">Profile Picture</label>
                          {{utilisateurform.profile_picture}}
  
                          <!-- <input id="CV" type="file" name="CV"> -->
                        </div>
                        <img src="/media/{{utilisateurdata.profile_picture}}" style="height: 150px;width: 150px;" >
                      </div>
                      <br>
                      
                      <h3>Public Details</h3>
                      
                      <br>
                      <div class="form-field short">
                        <label for="contact-email">Public Email Address</label>
                        {{utilisateurform.public_email}}
                        <!-- <input id="contact-email" type="text" name="contact-email"> -->
                      </div>

                      <div class="form-field short">
                        <label for="contact-email">Public Phone Number</label>
                        {{utilisateurform.public_phone_number}}
                        <!-- <input id="contact-email" type="text" name="contact-email"> -->
                      </div>

                      <div class="form-field short">
                        <label for="BIO">BIO</label>
                        {{utilisateurform.BIO}}
                      </div>
                      <br>
                      
                      <h3>Professional Details</h3>
                      
                      <br>
                      <div class="form-field short">
                        <label for="aboutME">About Me</label>
                        {{utilisateurform.AboutME}}
                      </div>

                      <br>

                      <br>
                      <div class="form-field short">
                        <label for="CV">CV</label>
                        {{utilisateurform.CV}}

                        <!-- <input id="CV" type="file" name="CV"> -->
                      </div>
                      <br>
                      {% for e in epeForm %}
                      {{e.label}}
                      {{e}}<br><br>
                      {% endfor %}
                      
                      <br>
<!-- skills -->
                      <h3>Your Skills</h3>
                      {% for skill in skills %}
                      <br>
                      <h4>{{skill.SkillName }}  <a href="{% url 'removeSkill' id=skill.id %}" style="font-weight: 200;margin-left: 30px;color: red;background-color: white;">remove</a></h4>
                      {% endfor%}
                      <br>
                      {{skillform}}

<!-- languages -->
<br>
<h3>Your languages</h3>
{% for L in languages %}
<br>
<h4>{{L.Language }}  <a href="{% url 'removeLanguage' id=L.id %}" style="font-weight: 200;margin-left: 30px;color: red;background-color: white;">remove</a></h4>
{% endfor%}
<br>
{{languageForm}}
<!--  -->

                      <!-- submit button  -->
                      <div class="settings-actions">
                        <div class="button-container">
                          <button class="save-settings" style="background-color:#8652a0;color: white;" type="submit">Save settings</button>
                        </div>
                      </div>
                        <!--  -->
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>



      <footer>
        <div class="footer-section">
          <div class="footer-content">
           <!--  -->
           <center>
               <p>All rights Reserved</p>
            </center>
          </div>
        </div>
      </footer>


    </div>
  </body>
</html>