{% load static %}

<div class="event">
    <h3 class="heading">Upcoming Events <span>see all</span></h3>
    <img src="{%static 'Assets/Images/eve.jpg' %}" alt="event-img">
    <div class="event-date">
        <h3>21 <b>july</b></h3>
        <h4>United state of America <span>New York City</span></h4>
    </div>
    <button><i class="fa-regular fa-star"></i> interested</button>
</div>

<hr>

<div class="friend">
    <h3 class="heading">Friend Requests <span>see all</span></h3>
    <ul>
        <li><img src="{%static 'Assets/Images/user4.jpg' %}" alt="user"></li>
        <li>
            <b>armanul islam</b>
            <p>Lorem ipsum dolor sit amet.</p>
            <button>confirm</button><button class="friend-remove">remove</button>
        </li>
    </ul>
</div>