{% load static %}

<div class="header-container">
    <div class="header-wrapper">
        <div class="logoBox">
            <img src="{%static 'Assets/Images/Logo_Ws.png' %}" alt="logo">
        </div>
        <div class="searchBox">
            <input type="search">
            <i class="fas fa-search"></i>
        </div>
        <div class="iconBox1">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-user-group"></i>
        </div>
        <div class="iconBox2">
            <i class="fa-solid fa-circle-plus"></i>
            <i class="fa-solid fa-bell"></i>
        </div>
        <div class="iconBox3-container">
            <div class="iconBox3" id="iconBox3Button">
                <label><img src="{%static 'Assets/Images/user.jpg' %}" alt="user"></label>
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </div>
</div>
<div class="dropdown" id="profileMenu">
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Classroom</a></li>
        <li><a class="dropdown-item" href="#">Welcome Page</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a type="submit" class="dropdown-item" href="/logout/" >Logout</a></li>
    </ul>
</div>