{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static 'Assets/Images/favicon.ico'" type="image/x-icon">
    <title>Django socialmedia</title>
    <!-- style css link -->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">    
    <!-- font link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
        
    <!-- header section start -->
        <header>
            {% include "HTML/header-homepage.html"%}
        </header>
    <!-- header section end -->

    <!-- home section start -->
    <div class="home">
        <div class="container">
            <div class="home-weapper">

                <!-- home left start here -->
                <div class="home-left">
                {% include "HTML/left-wing.html" %}
                </div>
                <!-- home left end here -->

                <!-- home center start here -->
                <div class="home-center">
                    <div class="home-center-wrapper">
                        
                        {% if not visiteur %}
                        <!-- Creat your Post -->
                        {% include "HTML/home-extended.html" %}
                        {% endif %}

                        <!-- POSTS -->

                        {% include "HTML/home-posts.html" %}

                       
                    
                    </div> <!-- home center wrapper end -->

                </div> 
                <!-- home center end -->

                <!-- home right start here -->
                <div class="home-right">
                    <div class="home-right-wrapper">

                        {% if not visiteur %}
                        <!-- messenger start -->
                        <div class="messenger">
                            {% include "HTML/messages.html" %}
                        </div>
                        <!-- messenger end -->
                        {% endif %}

                        <!-- event and friend start -->
                        <div class="event-friend">
                            {% include "HTML/event-template.html" %}
                        </div>
                        <!-- event and friend end -->

                        {% if not visiteur %}
                        <!-- groups start -->
                        <div class="groups">
                            {% include "HTML/create-page.html" %}
                        </div>
                        <!-- groups end -->
                        {% endif %}

                    </div>
                </div>
                <!-- home right end -->

            </div>
        </div>
    </div>
    <!-- home section end -->

    <!--Scripts link-->
    <script src="{% static "Javascript/homepage.js"%}"></script>

</body>
</html>