{% load static %}

<div class="profile">
    <img src="{%static 'Assets/Images/user.jpg' %}" alt="user">
    <h3>{{user_first_name}}</h3>
</div>

{% if not visiteur %}
<div class="group">
    <h4 class="mini-headign">Group</h4>
    <label>
        <img src="{%static 'Assets/Images/gg.png' %}" alt="group01">
        <span>Graphic design</span>
    </label>
    
    <label>
        <img src="{%static 'Assets/Images/gg2.png' %}" alt="group02">
        <span>website design</span>
    </label>

    <label>
        <img src="{%static 'Assets/Images/gg3.png' %}" alt="group03">
        <span>ZED.zahidul</span>
    </label>

    <button class="see-more-btn">See more <i class="fa-solid fa-angle-down"></i></button>
</div>
{% endif %}
<div class="explore">
    <h4 class="mini-headign">Explore</h4>
   
    <a href="#"><i class="fa-solid fa-flag"></i> Pages</a>
    <a href="#"><i class="fa-solid fa-user-group"></i> Groups</a>
    <a href="#"><i class="fa-solid fa-clock"></i> Events</a>
    {% if not visiteur %}
    <a href="#"><i class="fa-solid fa-star"></i></i> Favorites</a>
    <a href="#"><i class="fa-solid fa-bookmark"></i></i> Saves</a>
    {% endif %}

    <div><label class="darkTheme"> <span></span></label> Apply Dark Theme</div>

    <button class="see-more-btn">See more <i class="fa-solid fa-angle-down"></i></button>
</div>