{% load static %}

<div class="messenger-search">
    <i class="fa-solid fa-user-group"></i>
    <h4>Messenger</h4>
    <input type="search" placeholder="Search">
    <i class="fa-solid fa-magnifying-glass"></i>
</div>
<ul>
    <li>
        <img src="{%static 'Assets/Images/us2.png' %}" alt="user">
        <b>Zunayed Hossain <span>Online</span></b>
        <i class="fa-brands fa-facebook-messenger"></i>
    </li>

    <li>
        <img src="{%static 'Assets/Images/us3.png' %}" alt="user">
        <b>Armanul Islam <span>Offline</span></b>
        <i class="fa-brands fa-facebook-messenger"></i>
    </li>

    <li>
        <img src="{%static 'Assets/Images/us4.png' %}" alt="user">
        <b>Mohammad Amir <span>Online</span></b>
        <i class="fa-brands fa-facebook-messenger"></i>
    </li>
</ul>