.head {
    background-color: #f0f0f0; /* Couleur de fond */
    padding: 20px; /* Espacement intérieur */
    border-radius: 5px; /* Bord arrondi */
    margin-bottom: 20px; /* Marge inférieure */
    
  }
  .head .title {
    margin: 0; /* Supprime les marges par défaut */
    font-size: 30px; /* Taille de la police */
    color: #eb437e; /* Couleur du texte */
    /*background-image: linear-gradient(10deg, #ffa9ce, #eb437e); /* Dégradé linéaire */
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */  
    justify-content: center;
    display:flex;
   
  }
  .menu {
    display: flex;
    justify-content:left;
    background-color: transparent;
    padding: 10px 0;
    animation: slide 10s linear infinite;
 }
 
 .menu a {
    color: #eb437e;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
 }
 
 
 .menu a:hover {
    background-image:linear-gradient(120deg, hsl(180, 71%, 39%) ,#eb3584 );
    color:white;
 }
 
  .head .title h2{
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  *,
 *:before,
 *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 ul.main {
   list-style: none;
   max-width: 75%;
   margin: 20px auto;
 
 }
 h3 {
   padding: 0;
   margin: 0;
   color:#ee759b;
 }
 
 .date {
   width: 17%;
   padding: 15% 1% 10% 0;
   float: left;
 }
 
 .date h3 {
   font-size: 1.5em;
 }
 
 
 .events {
   float: left;
   width: 80%;
   border-left: 1px solid #e7157a;
   margin-top: 10%;
   padding-top: 3%;
 }
 
 .events-detail {
   max-width: 550px;
 }
 
 .events-detail li {
   padding: 10px;
   border-bottom: 1px dashed #fc86d1;
   line-height: 25px;
   transition: ease 0.4s all;
 }
 
 .events-detail li:hover {
   background: #e9e9e9;
 }
 
 .event-time {
   font-weight: 900;
 }
 
 .events-detail li a {
   text-decoration: none;
   color: rgb(81, 77, 77);
   width: 100%;
   height: 100%;
   display: block;
   font-weight: bold;
   font-size: larger;
 }
 
 .event-location {
   font-size :12px;
   color: #eb3584;
   margin-left: 200px;
 }
 
 @media all and (max-width: 641px) {
   .date {
     width: 100%;
     border-bottom: 1px solid #ccc;
     margin-bottom: 10px;
   }
 
   .events {
     border: none;
     width: 100%;
     margin-top: 0;
   }
 
   .events-detail {
     padding: 0;
   }
 
   li.date p {
     margin: 0;
   }
 }
 
  
  .filter {
    margin-top: 10px; /* Marge supérieure */
  }
  
  .filter select {
    padding: 8px; /* Espacement intérieur */
    font-size: 16px; /* Taille de la police */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Bord arrondi */
  }
  
  /* Style pour les options du select */
 
  
  /* Style pour le texte "ALL tasks Missing Completed" */
  .head div:nth-child(3) {
    margin-top: 20px; /* Marge supérieure */
    font-size: 18px; /* Taille de la police */
  }
  