{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'CSS/userProfile/userProfile.css' %}"/>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}"/>
   
    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{% static 'CSS/userProfile/swiper-bundle.min.css' %}">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'CSS/userProfile/styles.css' %}">


  </head>

  <body>
   
    <header>
      {% include "HTML/home/header-homepage.html"%}
    </header>
    <main class="main-content" style="display:flex;justify-content:center;" >
      
      <div class="profile-container" style="width: 80%;">
        <!-- profile main -->
        <div class="container">
          <div class="profile-main">
            <div class="profile-container">
              <img
                src="/media/{{eventContent.backgroundimage}}"
                style="max-height: 300px;width: 100%; object-fit: cover;"
                alt="cover-pic"
              />              

              </div>
                <div class="profile-btn">
                    <h1>{{eventContent.head_title}}</h1>
                 
                    <div> 
                        <i class="bx bxs-calendar-alt contact__card-icon"></i>
                        <b>{{eventContent.event_time}}</b>
                    </div>
                    
                    <!-- <div>
                      <i class='bx bxs-map contact__card-icon'></i>
                      <b>Tangier,Morocco</b>
                    </div> -->
                  <!-- <a href="" class="primary-btn">
                    <i class="bx bx-calendar-event contact__card-icon"></i>

                    Attend
                  </a>
                  <a href="">
                    <i class="bx bx-share-alt contact__card-icon"></i>

                    share
                  </a> -->
                 
                
                </div>
               
              </div>
              
            </div>
        
            <div class="profile-description" style="text-align: left;margin-inline:65px;width: 90%;">
              <h2>About</h2>
            
          
              <p id="paragraphContent" contenteditable="false">
                {{eventContent.description}}                
              </p>
          </div>
           


    <script src="{% static 'Javascript/homepage.js'%}"></script>
    <script src="{% static 'Javascript/userProfile/userProfile.js'%}"></script>



       


  </body>
</html>
