{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'CSS/userProfile/userProfile.css' %}"/>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}"/>
   
    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{% static 'CSS/userProfile/swiper-bundle.min.css' %}">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'CSS/userProfile/styles.css' %}">


  </head>

  <body>
   
    <header>
      {% include "HTML/home/header-homepage.html"%}
    </header>
    <main class='main-content' style='display:flex;justify-content:center' >
      
      <div class="profile-container">
        <!-- profile main -->
        <div class="container">
          <div class="profile-main">
            <div class="profile-container">
              <img
                src="/static/Assets/Images/machineLearning.jpg"
                alt="cover-pic"
                width="100%"
              />              

              </div>
                <div class="profile-btn">
                    <h1>Machine Learning in Drug Discovery Certificate  Training</h1>
                 <div>   <i class='bx bxs-calendar-alt contact__card-icon'></i>
<b>Mar 23, 2024, 2:30 PM - Mar 24, 2024, 4:00 PM (your local time)
</b>
</div>
<div>
<i class='bx bxs-map contact__card-icon'></i>
<b>Tangier,Morocco</b>
</div>
                  <a href="" class="primary-btn">
                    <i class="bx bx-calendar-event contact__card-icon"></i>

                    Attend
                  </a>
                  <a href="">
                    <i class="bx bx-share-alt contact__card-icon"></i>

                    share
                  </a>
                 
                
                </div>
               
              </div>
              
            </div>
        
            <div class="profile-description" style="text-align: left;margin-inline:65px">
              <h2>About</h2>
            
          
              <p id="paragraphContent" contenteditable="false">
                THIS EVENT IS NOT FREE, YOU HAVE TO PAY THE FEE TO ATTEND IT
                Kindly click on the mentioned link and register in the correct category in which you fall.
                
                DETAILS- We have launched a 2-day technical online training program on CHEMOINFORMATICS & DRUG DISCOVERY USING MACHINE LEARNING. This 2 day, hands-on training course will focus on the use of efficient technologies with HANDS-ON practical application where everyday 90 minutes training session will be conducted and the participants will perform on their own computer system.
                
                Video recording of each session will be provided at the end of the session to give the user a unique learning experience. On successful completion of the course participation certificate will be awarded.
                
                TRAINING CONTENT
                Introduction to Machine Learning and its Applications
                Dataset retrieval for classification (focusing on drug discovery)
                Descriptors or Features and types
                Dimensionality reduction and Identifying significant features via various Feature selection techniques
                Machine Learning Algorithms: Naïve Bayes, Random Forest, K Nearest Neighbour, Support Vector Machine, Multilayer perceptron
                Classification Using Machine Learning methods
                Evaluating classifier performance
                Building machine learning model on PubChem Bioassay dataset
                
              </p>
          </div>
           


    <script src="{% static "Javascript/homepage.js"%}"></script>
    <script src="{% static "Javascript/userProfile/userProfile.js"%}"></script>



       


  </body>
</html>
